.main-text {
  font-size: 80px;
}
body {
  background-color: #558097;
}
.main-btns {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.main-btn {
  font-family: "Haunted Villa", sans-serif;
  padding: 18px;
  border: solid 2px #000000;
  border-radius: 20px;
  font-size: 40px;
  cursor: pointer;
}
.main-search {
  font-family: "Haunted Villa", sans-serif;
  font-size: 50px;
  display: block;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 50px;
  border-radius: 20px;
  border: solid 2px #000000;
  margin-bottom: 20px;
}
.main-text {
  font-family: "DASHER", sans-serif;
}
.divider {
  width: 100%;
  height: 2px;
  background-color: #000000;
  margin: 50px 0;
}
.day-btn {
  font-family: "Haunted Villa", sans-serif;
  padding: 18px;
  border: solid 2px #000000;
  border-radius: 20px;
  font-size: 40px;
  display: block;
  margin: 20px auto;
  cursor: pointer;
}
.back-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.back-button img {
  width: 40px;
  height: 40px;
}
.date {
  font-family: "Haunted Villa", sans-serif;
  font-size: 30px;
  text-align: center;
}
.txt {
  font-family: "Haunted Villa", sans-serif;
  font-size: 50px;
  text-align: center;
}
.memory-title {
  display: flex;
  justify-content: center;
}
.title-input {
  font-family: "Haunted Villa", sans-serif;
  display: flex;
  justify-content: center;
  font-size: 40px;
  width: 100%;
  border-radius: 10px;
  border: solid 2px #000000;
}
.emoji {
  font-family: "Haunted Villa", sans-serif;
  font-size: 50px;
  text-align: center;
}
.emoji-button {
  display: flex;
  font-size: 30px;
  padding: 10px;
  border: solid 2px #000000;
  border-radius: 50%;
  cursor: pointer;
}
.emoji-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
}
.pic-txt {
  font-family: "Haunted Villa", sans-serif;
  font-size: 50px;
  text-align: center;
}
.photo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.add-icon {
  padding: 0px;
  width: 50px;
  height: 50px;
  border: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.image-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.preview-image {
  width: 300px;
  height: 300px;
  padding: 10px;
  border-radius: 15px;
  object-fit: cover;
  cursor: pointer;
  margin-top: 5px;
}
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.story-text {
  font-family: "Haunted Villa", sans-serif;
  font-size: 30px;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  border: solid 2px #000000;
  padding: 15px;
  display: flex;
  justify-content: center;
}
.memory-text {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.tag-text {
  font-family: "Haunted Villa", sans-serif;
  font-size: 50px;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tag {
  padding: 10px 18px;

  border-radius: 20px;

  border: 2px solid #333;

  background: white;

  cursor: pointer;

  transition: 0.3s;
}
